window {
margin: 0px;
border: 1px solid #ffffff;
border-radius: 4px;
background-color: #1f1f1f;
font-family: monospace;
font-size: 12px;
}

#input {
margin: 5px;
border: 1px solid #ffffff;
border-radius: 15px;
color: #f0f0f0;
background-color: #1f1f1f;
}

#input image {
	color: #f0f0f0;
}

#inner-box {
margin: 5px;
border: none;
background-color: #242424;
}

#outer-box {
margin: 5px;
border: none;
background-color: #242424;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f0f0f0;
} 

#entry:selected {
	background-color: #c2c2c2;
	font-weight: normal;
	border-radius: 15px;
}

#text:selected {
	background-color: #c2c2c2;
	color: #2e3440;
	font-weight: normal;
}